<div id="tweets">
</ul>
<% @tweets.each do |tweet| %>
	<li>
		ID: <%= tweet.id %>
		<%= tweet.twitter_user %> <em>said</em> <%= tweet.tweeted_text%>
                <%= link_to 'View', tweet_url(tweet) %>
	</li>
<% end %>
<ul>
</div>
