<!DOCTYPE html>
<html>
  <body>
<img src=<%= "public/CodersImage.jpg"%>/>
    <form action="/searches/1" method="get">
      <label>Search Twitter</label>
      <input type="text" name="q">


      <SELECT name="lang">
        <OPTION value="en">English</OPTION>
        <OPTION value="fr">French</OPTION>
        <OPTION value="es">Spanish</OPTION>
        <OPTION value="ru">Russian</OPTION>
      </SELECT>

      <SELECT name="rpp">
        <OPTION value=10>10 results per page</OPTION>
        <OPTION value=12>12 results per page</OPTION>
        <OPTION value=15>15 results per page</OPTION>
        <OPTION value=20>20 results per page</OPTION>
      </SELECT>

<input type="submit" name="submit" value="Search"/>
    </form>
  </body>
</html>
