<h1>You searched for <FONT COLOR="#008B8B"><%= params[:q] %></FONT></h1>

<pre>
  <% @results.inspect%>
</pre>
<ul>
  <% @results.each do |r| %>
    <li>
      <img src="<%=r.avatar%>"/>
      <FONT COLOR="#008B8B">User:</FONT><%=r.user%>
      <FONT COLOR="#008B8B">Tweeted:</FONT><%=r.text%>
    </li>
    <%end%>
</ul>
