// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
  text-align: center;
  font-family: Times, Serif;
}

p.first{text-align: center;
        color: #008B8B;
        text-decoration: blink;
 }

body{
  margin:50px 0px; padding:100px;
  text-align:center;
}

ul{
  text-align:left;
}

#tweets li {
  height:100%;
  vertical-align: middle;
  border: 5px ridge  #009966;
  border-spacing: 10px
}
